 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("../images/default-image.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1 .u-group-1 {
  width: 558px;
  min-height: 422px;
  height: auto;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 30px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 1px;
  font-weight: 700;
  font-size: 6.25rem;
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 30px auto 0 0;
  padding: 16px 52px 16px 51px;
}

.u-section-1 .u-image-1 {
  width: 564px;
  height: 788px;
  margin: -609px auto 4px 6px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 549px;
    min-height: 443px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-group-1 {
    width: 486px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 754px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 475px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 498px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 463px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 16px 52px 16px 51px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: linear-gradient(#d2a99c, rgba(239,212,204,0.9));
  min-height: 463px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 72px 33px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 10px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 463px;
  background-image: linear-gradient(#a78887, #d2a99c);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-2 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 72px auto 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 463px;
  background-image: linear-gradient(#561a18, #a78887);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-2 .u-icon-3 {
  height: 53px;
  width: 53px;
  margin: 77px auto 0;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 463px;
  background-image: linear-gradient(#3c0907, #561a18);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-icon-4 {
  height: 49px;
  width: 49px;
  margin: 76px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  width: 135px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 382px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 382px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 382px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 8px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/Winetime.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 796px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  font-size: 3.75rem;
  margin: 50px 654px 0 0;
}

.u-section-3 .u-form-1 {
  height: 239px;
  margin: 70px 377px 0 352px;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-label-1 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 900;
}

.u-section-3 .u-input-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-form-group-2 {
  margin-left: 0;
}

.u-section-3 .u-label-2 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 900;
}

.u-section-3 .u-input-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  background-image: none;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 205px auto 60px 352px;
  padding: 10px 168px 10px 167px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 400;
    margin-right: 454px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 277px;
    margin-left: 252px;
  }

  .u-section-3 .u-btn-2 {
    border-style: none;
    margin-left: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 234px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 167px;
    margin-left: 142px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 54px;
  }

  .u-section-3 .u-form-1 {
    margin-right: 77px;
    margin-left: 52px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 0% 43.59%;
    background-size: auto 135%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-4 .u-form-1 {
  height: 349px;
  margin: 60px 178px 60px 212px;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    width: 570px;
    margin-left: 112px;
    margin-right: 78px;
  }

  .u-section-4 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-form-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 603px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  font-style: normal;
  text-transform: none;
  margin: 60px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: -293px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1.25rem;
  margin: 21px 30px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 26px;
}

.u-section-5 .u-social-icons-1 {
  height: 57px;
  min-height: 16px;
  width: 191px;
  min-width: 68px;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -429px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -407px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 9px;
  }
}